body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}


#wrapper {
    float: left;
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
    background: #b3c2bf;
}

#header {
    float: left;
    height: 75px;
    width: 100%;
    background: #c0dfd9;
    padding-left: 10px; 	
	padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    float: left;
    background: #b3c2bf;
    padding-left: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

#content { 
    float: right;
    width: calc(100% - 225px);
    background: #e9ece5;    
    padding-left: 10px;   
	padding-top: 10px;	
    padding-bottom: 10px;
}

#footer {
    height: 40px;
    width: 100%;
    background: #3b3a36;
	color: white;
    clear: both;
    padding-left: 10px; 
	padding-top: 10px;
    padding-bottom: 10px;
}

ul.nav_links {
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b3c2bf;
}

.nav_links li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav_links li a:hover {
    background-color: #3b3a36;
    color: white;
}

.box-table-a
{
	font-family:Courier;
	font-size: 12px;	
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
.box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

