body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

#wrapper {
    float: left;
    width: 1200px;
    margin: 0 auto;
    background: #FF9B49;
}

#header {
    float: left;
    height: 75px;
    width: 1200px;
    background: #FF7300;
    padding-left: 10px; 	
	padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    float: left;
    background: #FF9B49;
    padding-left: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

#resultbody {
    float: left;  
    padding-left: 5px;   
	padding-top: 10px;	
    padding-bottom: 10px;
    background: white;
    width: 990px;
}

ul.nav_links {
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #FF9B49;
}

.nav_links li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav_links li a:hover {
    background-color: #3b3a36;
    color: white;
}


.resultstable
{
	font-family:Courier;
	font-size: 14px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}

.resultstable th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

.resultstable td
{
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
}

.resultstable td[error]
{
	background: #ff0000;
}

.resultstable tr:hover td
{
	background: #d0dafd;
	color: #339;
}

.resultstable tr:hover td[error]
{
	background: #cc0000;
	color: #339;
}
