body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}


#wrapper {
    float: left;
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
    background: #b3c2bf;
}

#header {
    float: left;
    height: 75px;
    width: 100%;
    background: #c0dfd9;
}

#nav {
    float: left;
    background: #b3c2bf;
    padding-left: 10px;
    width: 150px;
}

#content { 
    float: right;
    width: calc(100% - 175px);
    background: #e9ece5;    
    padding-left: 10px;      
}


#footer {
    height: 40px;
    width: 100%;
    background: #3b3a36;
    clear: both;
}

.box-table-a
{
	font-family:Courier;
	font-size: 12px;	
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
.box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

